*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #3b3131;
}
h1{
    text-align: center;
    margin-top: 30px;

    color: #000000;
    text-shadow: #f3f0f0 1px 1px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px;
}

img{
    width: 350px;
    height: 220px;  
    object-fit: cover;
    cursor: pointer; 
}

img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(219, 13, 13, 0.27);
    border-radius: 10px;
}
